<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="todo-container">
        <h1>Ma liste de tâches</h1>
        <input type="text" id="todo-input" placeholder="Ajouter nouveau...">
        <button onclick="addTodo()" id="button">Ajouter</button>
        <ul id="todo-list"></ul>
    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>